

<%= image_tag("CaroPose.png", :class => "center-block") %>

<div class="row">
  <div class="col-md-4">
  	<h2>Tour News</h2>
<p>Caro Emerald announced today that she is expecting her first child and will, therefore, be postponing her UK tour in March 2014. The rescheduled tour will now take place in October 2014.<p>

<p>09 Oct 2014: Brighton Centre
11 Oct 2014: Birmingham NIA
12 Oct 2014: Cardiff Motorpoint Arena
14 Oct 2014: Plymouth Pavilions
15 Oct 2014: Bournemouth International Centre
17 Oct 2014: London The 02
18 Oct 2014: Leeds First Direct Arena
20 Oct 2014: Newcastle City Hall
21 Oct 2014: Nottingham Royal Concert Hall
23 Oct 2014: Manchester Phones 4 U Arena
24 Oct 2014: Glasgow The SSE Hydro<p>

<p>Tickets purchased for the March tour will be valid for the revised dates<p>
  </div>
  

  <div class="col-md-4">
  						<h2>- 5/23/14 -</h2>
<p>We have some shocking good news! The Shocking Miss Emerald Deluxe Editionwill finally be released in the US and Canada next week on May 27! The Shocking Miss Emerald appeared to be a great successor of Caro Emerald’s debut album Deleted Scenes From The Cutting Room Floorwhich contained massive hits like A Night Like Thisand Back It Up.<p>

<p>The Shocking Miss Emerald Deluxe Edition contains a new remastered version of The Shocking Miss Emerald, a live cd with 18 live tracks which was recorded during her UK tour and as a bonus this release contains three new songs as well! And of course her singles Tangled Up and I Belong To You are also featured on this special release.<p>

<p> you getting curious for those new tracks? Check them out The Bullet and No Chargeon Youtube now!  Interested in how The Shocking Miss Emerald was made? Check out: The making of The Shocking Miss Emerald.<p>

<p>Pre order available on Amazon.<p>
  	</div>


  <div class="col-md-4">
<h2>BIO</h2>

 <p>Not that the young singer — already a multi-platinum, chart-topping success throughout Europe —lacks the talent, or the songs, to be successful in her own right. But at one point early in her career, Emerald was one of many talented, unknown performers trying to make her mark.<p>

<p>A call from producers David Schreurs and Jan van Wieringen changed everything. They had a song (written with Canadian songwriter Vince Degiorgio) that needed some vocals, but their first choice for a singer wasn’t available. Could Caro come in?<p>

<p>“I was doing demos at the time, and when I heard about this song, I thought it would be fun to try,” says the singer. “I figured right! I came in and heard this new style of song that I completely fell in love with — it was this crazy mix between pop and jazz, all the ingredients I love in music. And then I guess they liked my voice, because we kept it.”<p>

<p>That track, a retro-tinged party starter called “Back It Up” (complete with DJ scratches), heralded a unique new sound, a blend of pop, mambo and cool jazz. Soon, that demo helped land Emerald a TV performance, just as a YouTube video of the song began to catch, propelling that song to a top 20 hit.<p>
  </div>
</div>	