<h1>Track listing</h1>

<p>
	<pre>
1.	"That Man"						
2.	"Just One Dance"				
3.	"Riviera Life"					
4.	"Back It Up"					
5.	"The Other Woman"				
6.	"Absolutely Me"					
7.	"You Don't Love Me"				
8.	"Dr. Wanna Do"					
9.	"Stuck"							
10.	"I Know That He's Mine"			
11.	"A Night like This"				
12.	"The Lipstick on His Collar"	
	</pre>
</p>