<p><%= image_tag("aNightLikeThis.jpg", :class => "center-block") %></p>

<p><%= image_tag("redDress.jpg", :class => "center-block") %></p>

<p><%= image_tag("justOneDance.jpg", :class => "center-block") %></p>